body{
	font-size: 20px;
	font-family: "Calibri", "Arial", sans-serif;
	background-color: lightblue;
	margin: 0px;
	padding: 0px;
}

header{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  border-bottom: solid #555;
  background-color: lightgray;
  padding: 20px 50px 10px;
}

main {
  padding: 20px 50px 10px;
}

h1{ 
  font-size: 32px;
	margin: 0px;
}

ul {
  display: flex;
  gap: 10px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
  background-color: lightblue;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  border: solid #555;
}

li a:hover {
  background-color: #555;
  color: lightblue;
}


footer {
  padding: 10px 50px 20px;
  position: fixed;
  left: 0;
  bottom: 0px;
  width: 100%;
  background-color: transparent;
  color: white;
  background-color: black;
  text-align: center;
}